html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #020617; /* slate-950 */
  color: #f8fafc; /* tailwind slate-50 */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
